.App {
  text-align: center;
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 10px 10px 10px 0 rgba(0,0,0, 0.5);
  border-radius: 30px;
  color: white;
  font-size: 1.6rem;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 10px;
  height: 100%;
}

.adding-field {
  margin-bottom: 15px;
}
