.App {
  text-align: center;
  background: #3a1c71;  /* fallback for old browsers */
  box-shadow: 10px 10px 10px 0 rgba(0,0,0, 0.5);
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 10px;
  height: 100%;
}
.adding-field {
  margin-bottom: 15px;
}
.input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}
/*****************buttons********************/
.btn {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border:none;
}
.btn--add-todo {
  background: #3c1053;
  color: white;
}
.btn--edit{
  background: #66ccff;
}
.btn--delete {
  background: #ffaf7b;
}
.item {
  cursor: pointer;
  list-style-type: none;
  background: #eee;
  font-size: 16px;
  transition: 0.2s;
  color: black;
}
.item:nth-child(odd) {
  background: #f9f9f9;
}
.item--done {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}
.input-editing {
  width: 90%;
}
.task input {
  margin-right: 10px;
}
